<!-- Team -->
			<div class="wrapper style5">
				<section id="team" class="container">
					<header class="major">
						<h2>Our Carriers</h2>
						<span class="byline">Providing multiple options and quotes to save money for our clients.</span>
						<p>Below is just a sample of our fine insurance carriers.</p>
                        <hr />
					</header>
					<div class="row flush">
						<div class="3u">
							<ul class="special-icons">
								<li>
									{#<span class="fa fa-cogs"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/americafirst.jpg') }}">
								</li>
								<li>
									{#<span class="fa fa-wrench"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/amtrust.jpg') }}">
								</li>
								<li>
									{#<span class="fa fa-leaf"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/applieduw.jpg') }}">
								</li>
							</ul>
						</div>
						<div class="3u">
							<ul class="special-icons">
								<li>
									{#<span class="fa fa-cogs"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/guard.jpg') }}">
								</li>
								<li>
									{#<span class="fa fa-wrench"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/hartford.gif') }}">
								</li>
								<li>
									{#<span class="fa fa-leaf"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/hcc.jpg') }}">
								</li>
							</ul>
						</div>
						<div class="3u">
							<ul class="image">
								<li>
									{#<span class="fa fa-cogs"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/libertymut.gif') }}">
								</li>
								<li>
									{#<span class="fa fa-wrench"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/mercury2.jpg') }}">
								</li>
								<li>
									{#<span class="fa fa-leaf"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/progressive.gif') }}">
								</li>
							</ul>
						</div>
						<div class="3u">
							<ul class="image">
								<li>
									{#<span class="fa fa-cogs"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/SCIF.jpg') }}">
								</li>
								<li>
									{#<span class="fa fa-wrench"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/btis.png') }}">                                </li>
								<li>
									{#<span class="fa fa-leaf"></span>#}
									<img alt src="{{ asset('/files/carrierlogos/commodore.png') }}">
								</li>
							</ul>
						</div>

					</div>
				</section>
			</div>
